# Ignore everything by default
*

# Allow directory traversal so we can unignore specific paths/files
!*/


# Keep these project folders
!/[Ss]ource/**
!/[Ee]xternal/**
!/[Ee]xternals/**
!/[Ss]haders/**
!/[Aa]ssets/**

# Keep all DLLs anywhere (e.g., in bin/, root, etc.)
#!*.dll
#!**/*.dll
#

# (Optional) If you also want to keep Linux shared libs, uncomment:
#!*.so
#!**/*.so

# (Optional) If you want xmake config tracked, uncomment:
!/xmake.lua

!*.bat
!**/*.bat

!*.sh
!**/*.sh

# Do not ignore self
!**.gitignore

.gradle/
.idea/
build/
*/build/
!gradle-wrapper.jar

!*.jar
!**/*.jar

!*.java
!**/*.java

!*.aar
!**/*.aar

!*.xml
!**/*.xml

!*.gradle
!**/*.gradle